<{if $frameok}>
	<div align='center'>
		<iframe longdesc="<{$longdesc}>" width="<{$width}>" height="<{$height}>" align="<{$align}>" frameborder="<{$frameborder}>" marginwidth="<{$marginwidth}>" marginheight="<{$marginheight}>" scrolling="<{$scrolling}>" src="<{$url}>"></iframe>
	</div>
<{else}>
	<table border="0" cellspacing="1" class="outer">
	<{foreach item=iframe from=$iframes}>
		<tr class="<{cycle values="even,odd"}>">
			<td align='center'><{$iframe.list}></td>
		</tr>
	<{/foreach}>
	</table>
<{/if}>